@charset "utf-8";
h1 {background-color: lightgreen;}
h1 {text-align: center;}
section {font-size: 400px;}
section {padding: 68%;}
section {text-align: center;}
body {float:right}
main {background-color: aquamarine;}
